TivoController/src/TivoMasterList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tivo.com/developer/calypso-protocol-1.6/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TiVoContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Details">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ContentType"/>
              <xs:element type="xs:string" name="SourceFormat"/>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="LastChangeDate"/>
              <xs:element type="xs:short" name="TotalItems"/>
              <xs:element type="xs:string" name="UniqueId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="SortOrder"/>
        <xs:element type="xs:string" name="GlobalSort"/>
        <xs:element type="xs:byte" name="ItemStart"/>
        <xs:element type="xs:byte" name="ItemCount"/>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ContentType"/>
                    <xs:element type="xs:string" name="SourceFormat"/>
                    <xs:element type="xs:string" name="Title"/>
                    <xs:element type="xs:string" name="CopyProtected" minOccurs="0"/>
                    <xs:element type="xs:long" name="SourceSize"/>
                    <xs:element type="xs:int" name="Duration"/>
                    <xs:element type="xs:string" name="CaptureDate"/>
                    <xs:element type="xs:int" name="ShowingDuration"/>
                    <xs:element type="xs:int" name="StartPadding"/>
                    <xs:element type="xs:int" name="EndPadding"/>
                    <xs:element type="xs:string" name="ShowingStartTime"/>
                    <xs:element type="xs:string" name="EpisodeTitle" minOccurs="0"/>
                    <xs:element type="xs:string" name="Description" minOccurs="0"/>
                    <xs:element type="xs:short" name="SourceChannel" minOccurs="0"/>
                    <xs:element type="xs:string" name="SourceStation" minOccurs="0"/>
                    <xs:element type="xs:string" name="InProgress" minOccurs="0"/>
                    <xs:element type="xs:string" name="HighDefinition"/>
                    <xs:element type="xs:string" name="ProgramId"/>
                    <xs:element type="xs:string" name="SeriesId"/>
                    <xs:element type="xs:short" name="EpisodeNumber" minOccurs="0"/>
                    <xs:element type="xs:byte" name="RecordingQuality" minOccurs="0"/>
                    <xs:element type="xs:string" name="StreamingPermission"/>
                    <xs:element type="xs:byte" name="TvRating" minOccurs="0"/>
                    <xs:element type="xs:int" name="ShowingBits"/>
                    <xs:element type="xs:byte" name="SourceType" minOccurs="0"/>
                    <xs:element type="xs:int" name="IdGuideSource" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Content">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:anyURI" name="Url"/>
                          <xs:element type="xs:string" name="ContentType"/>
                          <xs:element type="xs:string" name="Available" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CustomIcon" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Url"/>
                          <xs:element type="xs:string" name="ContentType"/>
                          <xs:element type="xs:string" name="AcceptsParams"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TiVoVideoDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Url"/>
                          <xs:element type="xs:string" name="ContentType"/>
                          <xs:element type="xs:string" name="AcceptsParams"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>