TivoController/src/TivoDetail.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:TvBusMarshalledStruct="http://tivo.com/developer/xml/idl/TvBusMarshalledStruct">
  <xs:element name="TvBusEnvelope" xmlns:TvBusMarshalledStruct="http://tivo.com/developer/xml/idl/TvBusMarshalledStruct">
    <xs:complexType>
      <xs:sequence>
  <xs:element name="recordedDuration" type="xs:duration"/>
  <xs:element name="vActualShowing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="showingBits">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="value1" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="time"/>
              <xs:element type="xs:duration" name="duration"/>
              <xs:element name="program">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vActor">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="element" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="vAdvisory"/>
                    <xs:element name="showingBits">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="value2" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="vChoreographer"/>
                    <xs:element name="colorCode">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="value3" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="vDirector"/>
                    <xs:element type="xs:string" name="vExecProducer"/>
                    <xs:element name="vProgramGenre">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="element"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="vGuestStar"/>
                    <xs:element name="vHost">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="element" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="isEpisode"/>
                    <xs:element type="xs:dateTime" name="originalAirDate"/>
                    <xs:element type="xs:string" name="vProducer"/>
                    <xs:element name="series">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="isEpisodic"/>
                          <xs:element name="vSeriesGenre">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="element" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="seriesTitle"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="showType">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="value4" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="vWriter"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vBookmark" type="xs:string"/>
  <xs:element name="recordingQuality">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="value5"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="showing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="showingBits">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="value6"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="time"/>
        <xs:element type="xs:duration" name="duration"/>
        <xs:element name="program">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="vActor"/>
              <xs:element type="xs:string" name="vAdvisory"/>
              <xs:element name="showingBits">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="value7"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="vChoreographer"/>
              <xs:element name="colorCode">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="value8"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="vDirector"/>
              <xs:element type="xs:string" name="vExecProducer"/>
              <xs:element name="vProgramGenre">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="element"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="vGuestStar"/>
              <xs:element type="xs:string" name="vHost"/>
              <xs:element type="xs:string" name="isEpisode"/>
              <xs:element type="xs:dateTime" name="originalAirDate"/>
              <xs:element type="xs:string" name="vProducer"/>
              <xs:element name="series">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="isEpisodic"/>
                    <xs:element name="vSeriesGenre">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="element" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="seriesTitle"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="showType">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="value9"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="vWriter"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startTime" type="xs:dateTime"/>
  <xs:element name="stopTime" type="xs:dateTime"/>
  <xs:element name="bitstreamFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vFormat">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vByte">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="base64"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="expirationTime" type="xs:dateTime"/>
  </xs:sequence>
  </xs:complexType>
  </xs:element>
</xs:schema>